## SQL Model Tests

In [1]:
import os
sqlite_file_name = "database.db"
try:
    os.remove(sqlite_file_name)
except FileNotFoundError:
    pass

In [2]:
from sqlmodel import Field, SQLModel, create_engine, Session


class Hero(SQLModel, table=True):
    id: int | None = Field(default=None, primary_key=True)
    name: str
    secret_name: str
    age: int | None = None


sqlite_url = f"sqlite:///{sqlite_file_name}"

engine = create_engine(sqlite_url, echo=True)


def create_db_and_tables():
    SQLModel.metadata.create_all(engine)
create_db_and_tables()

2025-05-25 23:12:49,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-25 23:12:49,571 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hero")
2025-05-25 23:12:49,571 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-25 23:12:49,572 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("hero")
2025-05-25 23:12:49,573 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-25 23:12:49,574 INFO sqlalchemy.engine.Engine
CREATE TABLE hero (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	age INTEGER,
	PRIMARY KEY (id)
)


2025-05-25 23:12:49,574 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2025-05-25 23:12:49,582 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
def create_heroes():
    hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")
    hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
    hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)
    print(f"before {hero_1}")
    with Session(engine) as session:
        session.add(hero_1)
        session.add(hero_2)
        session.add(hero_3)

        session.commit()
        print(f"after commit obj {hero_1}; id {hero_1.id}; obj {hero_1}")

        session.refresh(hero_2)
        session.refresh(hero_1)
        session.refresh(hero_3)
        print(f"after refresh {hero_1}")


create_heroes()

before name='Deadpond' secret_name='Dive Wilson' id=None age=None
2025-05-25 23:12:49,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-25 23:12:49,598 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?) RETURNING id
2025-05-25 23:12:49,598 INFO sqlalchemy.engine.Engine [generated in 0.00011s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Deadpond', 'Dive Wilson', None)
2025-05-25 23:12:49,600 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?) RETURNING id
2025-05-25 23:12:49,600 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Spider-Boy', 'Pedro Parqueador', None)
2025-05-25 23:12:49,601 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?) RETURNING id
2025-05-25 23:12:49,602 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Rusty-Man', 'Tommy Sharp', 48)
2025-05-25 23:12:49,602 INFO sqlalchemy.engine.Engine COMMIT
2025-05-25 23:12:49,611 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-25 23:12:49,613 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age
FROM hero
WHERE hero.id = ?
2025-05-25 23:12:49,613 INFO sqlalchemy.engine.Engine [generated in 0.00047s] (1,)
after commit obj ; id 1; obj age=None name='Deadpond' secret_name='Dive Wilson' id=1
2025-05-25 23:12:49,614 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2025-05-25 23:12:49,615 INFO sqlalchemy.engine.Engine [generated in 0.00040s] (2,)
2025-05-25 23:12:49,616 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2025-05-25 23:12:49,616 INFO sqlalchemy.engine.Engine [cached since 0.001893s ago] (1,)
2025-05-25 23:12:49,617 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.id = ?
2025-05-25 23:12:49,617 INFO sqlalchemy.engine.Engine [cached since 0.00303s ago] (3,)
after refresh id=1 name='Deadpond' secret_name='Dive Wilson' age=None
2025-05-25 23:12:49,620 INFO sqlalchemy.engine.Engine ROLLBACK